@import "../../theme/index.scss";

@mixin onFocus($color) {
  &:focus,
  &:valid {
    border: 1.5px solid $color;
  }
}

.item {
  position: relative;
  margin-top: 20px;
  input {
    outline: none;
    padding: 8px 10px;
    border: none;
    border: 1.5px solid transparent;
    border-bottom: 1px solid lightgray;
    outline: none;
    transition: 0.2s all ease;
    box-sizing: border-box;
    display: block;
    width: 100%;
    &:focus ~ label,
    &:valid ~ label {
      top: -10px;
      font-size: 12px;
      padding: 0 4px;
      background: white;
    }
    &.primary {
      @include onFocus($primary-color);
    }
    &.secondary {
      @include onFocus($secondary-color);
    }
    &.success {
      @include onFocus($success-color);
    }
    &.danger {
      @include onFocus($danger-color);
    }
    &.warning {
      @include onFocus($warning-color);
    }
  }
  label {
    position: absolute;
    top: 0;
    left: 4px;
    background: transparent;
    transition: 0.2s ease all;
    &.primary {
      color: $primary-color;
    }
    &.secondary {
      color: $secondary-color;
    }
    &.success {
      color: $success-color;
    }
    &.danger {
      color: $danger-color;
    }
    &.warning {
      color: $warning-color;
    }
  }
}
