$primary-color: #0f588b;
$secondary-color: #55265d;
$success-color: #31af46;
$danger-color: #ff0048;
$warning-color: #ffc107;
$default-color: #dadada;

$font-color: #2c3e50;

$black-80: rgba(0, 0, 0, 0.8);
$black-64: rgba(0, 0, 0, 0.64);
$black-48: rgba(0, 0, 0, 0.48);
$black-32: rgba(0, 0, 0, 0.32);
$black-16: rgba(0, 0, 0, 0.16);
