@import "../../../../theme/index.scss";

.tags {
  @include shadow($y: 2px);
  width: 250px;
  background: white;
  box-sizing: border-box;
  padding: 10px;
  .title {
    font-weight: 600;
    margin-bottom: 10px;
  }
  .tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    @include shadow($y: 1px);
    color: $black-64;
    cursor: pointer;
    transition: all ease 0.1s;
    &:hover {
      background: $danger-color;
      color: white;
    }
  }
  &.sticky {
    position: fixed;
  }
}

@media all and (max-width:$md){
  .tags{
    display: none;
  }
}
